.myBMW_panel_flat {
	background-color: rgb(var(--bg-color)) !important;
	margin : 10px 0px 0px 0px !important;
	box-shadow: none !important;
}

.myBMW_panel_flat .container-fluid {
	margin : 5px 5px 5px 20px !important;
	padding : 0px 0px 0px 0px !important;
}

.myBMW_panel_flat #titre {
	font-size : 14px;
	text-align:center;
    color : #000000 !important;
}

.myBMW_panel_flat #refresh {
    color : #000000 !important;
}

.myBMW_panel_flat #logo {
	height: 1.5em;
}

.myBMW_panel_flat #column {
    margin : 0px 0px 0px 0px !important;
	padding : 0px 0px 0px 0px !important;
}

.myBMW_panel_flat #tile {
    margin : 3px 3px 3px 3px !important;
	padding : 0px 0px 0px 0px !important;
	background-color : rgb(var(--bg-color)) !important;
	filter : contrast(90%);
	border : solid;
	border-width: 2px;
	border-radius: 10px;
	border-color: rgb(225,225,225);
}

.myBMW_panel_flat #tile_off {
    margin : 3px 3px 3px 3px !important;
	padding : 0px 0px 0px 0px !important;
	background-color : rgb(var(--bg-color)) !important;
	filter : contrast(95%);
	border : solid;
	border-width: 2px;
	border-radius: 10px;
	border-color: rgb(225,225,225);
	background: repeating-linear-gradient(135deg, transparent, transparent 0px, rgb(225,225,225) 5px, rgb(var(--bg-color)) 10px);
}

.myBMW_panel_flat #picture {
	display: table-cell;
	vertical-align : middle;
	color : #000000 !important;
}

.myBMW_panel_flat #location {
	padding: 20px 0px 0px 0px !important;
}

.myBMW_panel_flat #distance {
	font-size: 10px;
	color : #000000;
	font-weight: bold;
}

.myBMW_panel_flat .myMap {
	width: 400px;
	height: 240px;
	border: 0px;
	filter: grayscale(100%);
}

.myBMW_panel_flat #titre_tile {
	font-size : 14px;
	color : var(--txt-color) !important;
	margin : 0px 0px 0px 0px !important;
	padding : 15px 0px 0px 0px !important;
}

.myBMW_panel_flat #icon_tile {
	margin : 0px 0px 0px 0px !important;
	padding : 12px 0px 0px 0px !important;
	color: rgb(80,120,170) !important;
}

.myBMW_panel_flat #value_tile {
	font-size : 22px;
	color : #000000 !important;
	text-align: center;
	margin : 0px 0px 0px 0px !important;
	padding : 5px 0px 0px 0px !important;
}

.myBMW_panel_flat #value_tile_2 {
	font-size : 11px;
	color : #000000 !important;
	margin : -5px 0px 0px 0px !important;
	padding : 0px 0px 0px 0px !important;
}

.myBMW_panel_flat #titre_tile_2 {
	font-size : 22px;
	color : #000000 !important;
	margin : 0px 0px 0px 0px !important;
	padding : 6px 0px 0px 15px !important;
	text-align : left; 
}

.myBMW_panel_flat #titre_doors {
	font-size : 20px;
	color : var(--txt-color) !important;
	margin : 0px 0px 0px 0px !important;
	padding : 11px 0px 0px 0px !important;
	text-align : left; 
}

.myBMW_panel_flat #row_doors {
    margin : 0px 0px 0px 0px !important;
	padding : 0px 0px 0px 0px !important;
}

.myBMW_panel_flat #icon_doors {
	margin : 0px 0px 0px 0px !important;
	padding : 0px 0px 0px 0px !important;
	text-align : right;
}

.myBMW_panel_flat #text_doors {
	font-size : 14px;
	color : var(--txt-color) !important;
	margin : 0px 0px 0px 0px !important;
	padding : 0px 5px 0px 0px !important;
	text-align : right; 
}

.myBMW_panel_flat #value_doors {
	font-size : 14px;
	color : #000000 !important;
	margin : 0px 0px 0px 0px !important;
	padding : 0px 0px 0px 10px !important;
	text-align : left; 
}

.myBMW_panel_flat .btn {
	margin: 10px 0px 0px 0px !important;
	width: 35px !important;
	height: 35px !important;
	max-width: 35px !important;
	max-height: 35px !important;
	filter : contrast(100%);
}

.myBMW_panel_flat #liste_msg {
	width: 440px;
	height: 340px;
	overflow: auto;
}

.myBMW_panel_flat .list-group-item {
	background-color: transparent !important;
	margin-bottom: 10px;
	padding: 0px 0px 10px 0px;
	border-bottom : solid;
	border-bottom-width: 2px;
	border-bottom-color: rgb(225,225,225);
}

.myBMW_panel_flat #last_update {
	font-size : 12px;
	text-align:center;
    color : #000000 !important;
	margin : 10px 0px 5px 0px !important;
}

.myBMW_panel_flat #titre_graph {
	font-size : 22px;
	color : #000000 !important;
	margin : 0px 0px 0px 0px !important;
	padding : 0px 0px 0px 20px !important;
	text-align : left; 
}

.myBMW_panel_flat #soustitre_graph {
	font-size : 14px;
	color : var(--txt-color) !important;
	margin : 0px 0px 0px 0px !important;
	padding : 0px 0px 0px 20px !important;
	text-align : left; 
}

.myBMW_panel_flat #table_sessions {
	margin : 15px 0px 0px 0px !important;
	width: 665px;
	height: 325px;
	overflow: auto;
}

.highcharts-root {
	font-family: Roboto !important;
}

.highcharts-title {
	font-size: 22px !important;
	fill : #000000 !important;
}